<cp-repository-component #repo>
  <button class="add-app-button btn btn-primary btn-sm" (click)="repo.addApplicationFormShowing=!repo.addApplicationFormShowing">
    <span class="glyphicon glyphicon-plus"></span>
  </button>

  <div *ngIf="repo.addApplicationFormShowing">
    <form [formGroup]="repo.applicationForm" autocomplete="off">
      <h3>Add application</h3>
      <label for="inputUri" class="sr-only">URI</label>
      <input class="form-control" id="inputUri" 
        type="url" placeholder="Repository URI" [formControl]="repo.applicationForm.controls['repoUri']" autofocus>
      <div *ngIf="!repo.applicationForm.controls['repoUri'].valid" class="ui error message">URI is invalid</div>
      <div *ngIf="repo.applicationForm.controls['repoUri'].hasError('required')" class="ui error message">URI is required</div>
      <button type="button" class="btn btn-lg btn-primary btn-block"
      (click)="repo.addApplication(repo.applicationForm.value); repo.addApplicationFormShowing = false">Add</button>
    </form>
  </div>

  <accordion [closeOthers]="true" *ngIf="repo.applicationDeployers">

    <div *ngIf="repo.applicationDeployers.length==0">
      No applications registered yet
    </div>

    <accordion-group *ngFor="let applicationDeployer of repo.applicationDeployers" heading="{{ applicationDeployer.name }} v{{ applicationDeployer.version }}">
      <p>{{ applicationDeployer.about }}</p>
      <h5>Source</h5>
      <p><a href="{{ applicationDeployer.repoUri }}">{{ applicationDeployer.repoUri }}</a></p>
      <h5>Version</h5>
      <p>{{ applicationDeployer.version }}</p>
      <h5>Contact</h5>
      <p>{{ applicationDeployer.contact }}</p>
      <h5>Available for</h5>
      <p class="param-value" *ngFor="let cloudProvider of applicationDeployer.cloudProviders">
        {{ cloudProvider.cloudProvider }}
      </p>
      <h5>Volumes</h5>
      <p *ngIf="applicationDeployer.volumes.length==0">This application requires no data volumes</p>
      <div *ngFor="let aVolume of applicationDeployer.volumes">
        {{ aVolume }}
        <select class="form-control" 
          (change)="repo.attachVolume(applicationDeployer, aVolume, $event.target.value)">
          <option value="null">None</option>
          <option *ngFor="let volumeInstance of repo.volumeInstances">
            {{ volumeInstance.reference }}</option>
        </select>
      </div>
      <!--<h4>Deploy using</h4>
      <div>
        <select class="form-control" [(ngModel)]="applicationDeployer.selectedCloudProvider">
          <option *ngFor="let cloudProvider of applicationDeployer.cloudProviders" value="{{cloudProvider.cloudProvider}}">
            {{ cloudProvider.cloudProvider }}</option>
        </select>
      </div>-->
      <span *ngIf="applicationDeployer.deploying || applicationDeployer.destroying" mode="indeterminate">Working...</span>
      <br/>
      <div *ngIf="!applicationDeployer.deploying && !applicationDeployer.destroying">
        <button *ngIf="repo.cloudProviderParametersService.currentlySelectedCloudProviderParameters"
          type="button" class="btn btn-primary btn-sm" 
          (click)="repo.deployApplication(applicationDeployer)">
            DEPLOY
        </button>
        <alert type="warning" *ngIf="!repo.cloudProviderParametersService.currentlySelectedCloudProviderParameters">
          A valid Cloud Provider needs to be selected in order to deploy this application
        </alert>
        <button *ngIf="!repo.cloudProviderParametersService.currentlySelectedCloudProviderParameters" 
          type="button" class="btn btn-primary btn-sm" 
          disabled>
            DEPLOY
        </button>
      </div>
    </accordion-group>
  </accordion>

</cp-repository-component>