<cp-repository-component #repo>
  <button class="add-app-button btn btn-primary btn-sm" (click)="repo.addApplicationFormShowing=!repo.addApplicationFormShowing">
    <span class="glyphicon glyphicon-plus"></span>
  </button>

  <div *ngIf="repo.addApplicationFormShowing">
    <form [formGroup]="repo.applicationForm" autocomplete="off">
      <h2>Add application</h2>
      <label for="inputUri" class="sr-only">URI</label>
      <input class="form-control" id="inputUri" 
        type="url" placeholder="Repository URI" [formControl]="repo.applicationForm.controls['repoUri']" autofocus>
      <div *ngIf="!repo.applicationForm.controls['repoUri'].valid" class="ui error message">URI is invalid</div>
      <div *ngIf="repo.applicationForm.controls['repoUri'].hasError('required')" class="ui error message">URI is required</div>
      <button type="button" class="btn btn-lg btn-primary btn-block"
      (click)="repo.addApplication(applicationForm.value); repo.addApplicationFormShowing = false">Add</button>
    </form>
  </div>

  <accordion [closeOthers]="oneAtATime" *ngIf="repo.applicationDeployers">

    <div *ngIf="repo.applicationDeployers.length==0">
      No applications registered yet
    </div>

    <accordion-group *ngFor="let applicationDeployer of repo.applicationDeployers" heading="{{ applicationDeployer.name }}">
      <p><a href="{{ applicationDeployer.repoUri }}">{{ applicationDeployer.repoUri }}</a></p>
      <h4>Volumes</h4>
      <div *ngFor="let aVolume of applicationDeployer.volumes">
        {{ aVolume }}
        <select class="form-control" 
          (change)="repo.attachVolume(applicationDeployer, aVolume, $event.target.value)">
          <option value="null">None</option>
          <option *ngFor="let volumeInstance of repo.volumeInstances">
            {{ volumeInstance.reference }}</option>
        </select>
      </div>

      <span *ngIf="applicationDeployer.deploying || applicationDeployer.destroying" mode="indeterminate">Working...</span>
      <br/>
      <div *ngIf="!applicationDeployer.deploying && !applicationDeployer.destroying">
        <button type="button" class="btn btn-primary btn-sm"
        (click)="repo.deployApplication(applicationDeployer)">
            Deploy
          </button>
        <button type="button" class="btn btn-primary btn-sm"
        (click)="repo.removeApplication(applicationDeployer)">Remove</button>
      </div>
    </accordion-group>
  </accordion>

</cp-repository-component>