<div class="col-md-9 col-md-offset-1">
<div class="row">
  <div class="col-md-9">
    <h1>EGI Applications Database</h1>
    <p>The <a href="https://appdb.egi.eu/">EGI Applications Database (AppDB)</a> is a central service
    that stores and provides to the public information about:</p>
    <ul>
      <li>software solutions in the form of native software products, virtual appliances and/or software appliances,</li>
      <li>the programmers and the scientists who are involved, and</li>
      <li>publications derived from the registered solutions</li>
    </ul>
    <p>
        The BioExcel Cloud Portal uses the EGI AppDB as a directory for virtual appliances (e.g. Virtual Machines)
        referenced by the <a href="https://bio.tools/">Elixir Tools and Data Services Registry</a>. By doing so
        it integrates to of the most widely known and better supported infrastructures to distribute tools and
        services for computational biologists.
    </p>
  </div>
  <div class="col-md-3">
    <img style="height: 4em; margin-top: 1em;" [src]="appdbLogo">
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>An open registry</h3>
    <p>The EGI Applications Database is open to every scientist, interested on publishing and therefore
       sharing, his/her software solution. The only prerequisite, is to be owner of a valid
       account. After that, you will be able to take advantage of the authenticated write-enabled
       features of the AppDB service and more specific to register your software product and/or
       virtual appliance.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>Further questions?</h3>
    <p>
      Further information on how to include BioExcel tools through EGI AppDB and bio.tools
      can be addressed to <em>ebi[at]ebi.ac.uk</em>.
    </p>
  </div>
</div>

</div>
