<div class="col-md-9 col-md-offset-1">
<div class="row">
  <div class="col-md-9">
    <h1>The EBI Embassy Cloud</h1>
    <h4>ANALYSE YOUR LIFE-SCIENCE DATA FASTER IN THE EMBL-EBI CLOUD</h4>
    <p>The EBI Cloud Portal uses
      <a href="https://www.ebi.ac.uk/about/people/steven-newhouse">Embassy Cloud</a> as one of its 
      supported cloud providers. Embassy Cloud provides a solution: private, secure, virtual-machine-based
      workspaces within the EMBL-EBI infrastructure, where collaborators can make optimal use of their
      own customised workflows, applications and datasets.
    </p>
    <p>
        Embassy Cloud ‘tenants’ have direct access to the EMBL-EBI data, services and compute. This is
        a practical and cost-effective alternative to replicating services and downloading vast, public
        datasets locally. Tenants can access their workspace from anywhere in the world, reducing the
        need for capital investments in hardware and related operational costs.
    </p>
  </div>
  <div class="col-md-3">
    <img style="height: 6em;" [src]="embassyLogo">
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>Resilient and flexible</h3>
    <p>Just as an embassy is sovereign territory in a host country, an Embassy Cloud workspace is an
      isolated, secure environment hosted by EMBL-EBI, a public, international treaty organisation. This
      Infrastructure as a Service is hosted in our Tier 3+ secure data centre in Hemel Hempstead, UK, and
      is logically outside the institute’s local area network (LAN). Traffic from an Embassy Cloud 
      workspace to EMBL-EBI’s public data resources and services is retained within our own network 
      infrastructure, but neither EMBL-EBI nor any other cloud client can access it.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>Further questions?</h3>
    <p>
      Further information on how to access the Embassy Cloud resources through the BioExcel cloud Portal
      can be addressed to <em>tsi-sdo[at]ebi.ac.uk</em>. 
    </p>
  </div>
</div>

</div>
