.container-fluid .main {
  padding-top: 110px;
}
img.nav-logo {
  height: 50px;
  margin-top: -12px;
}
.logs-text-area {
  width: 100%;
  min-height: 20em; 
  border: none; 
  resize: none;
  background: rgb(130,130,130);
  font-family: Courier New, Courier, monospace; 
}
a.active {
  background: rgb(240,240,240);
  color: white;
}