<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img class="nav-logo" alt="BioExcel" [src]="bioexcelLogo">
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a *ngIf="credentialService.getUsername()" router-active [routerLink]=" ['./deployments'] ">
          Deployments
        </a>
        </li>
        <li>
          <a *ngIf="credentialService.getUsername()" router-active [routerLink]=" ['./repository'] ">
          Repository
        </a>
        </li>
        <li>
          <a *ngIf="credentialService.getUsername()" router-active [routerLink]=" ['./volumes'] ">
          Volumes
        </a>
        </li>
        <li>
          <a *ngIf="credentialService.getUsername()" router-active [routerLink]=" ['./profile'] ">
          Profile
        </a>
        </li>
        <li *ngIf="!credentialService.getUsername()">
          <a router-active [routerLink]=" ['./login'] ">
          Login
        </a>
        </li>
        <li *ngIf="credentialService.getUsername()">
          <a router-active (click)="logOut()">
          Logout
        </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
    <div class="main">
      <router-outlet></router-outlet>
    </div>
</div>