
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img class="nav-logo" alt="BioExcel" [src]="bioexcelLogo">
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">

      <ul  class="nav navbar-nav navbar-right">

        <li *ngIf="!tokenService.getToken()">
          <a router-active [routerLink]=" ['./login'] ">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            Login
          </a>
        </li>

        <li *ngIf="tokenService.getToken()" dropdown (onToggle)="toggled($event)">
          <a href id="applications-dropdown" dropdownToggle>
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            {{ credentialService.getUsername() }}
          </a>
          <ul class="dropdown-menu" dropdownMenu aria-labelledby="simple-dropdown">
            <li>
              <a router-active [routerLink]=" ['./profile'] ">
                Profile
              </a>
            </li>
            <li *ngIf="tokenService.getToken()">
              <a router-active (click)="logOut()">
              Logout
              </a>
            </li>
          </ul>
        </li>

        <li dropdown (onToggle)="toggled($event)">
          <a href id="applications-dropdown" dropdownToggle>
            <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
          </a>
          <ul class="dropdown-menu" dropdownMenu aria-labelledby="simple-dropdown">
            <li>
              <a router-active [routerLink]=" ['./about'] ">
                About
              </a>
            </li>
          </ul>
        </li>

      </ul>
    </div>

    <cp-profile-component *ngIf="tokenService.getToken()" #profileComponent>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">

        <li dropdown (onToggle)="toggled($event)">
          <a href id="applications-dropdown" dropdownToggle>
            Applications
          </a>
          <ul class="dropdown-menu" dropdownMenu aria-labelledby="simple-dropdown">
            <li>
              <a *ngIf="tokenService.getToken()" router-active [routerLink]=" ['./deployments'] ">
              My Deployments
              </a>
            </li>
            <li class="divider dropdown-divider"></li>
            <li>
              <a *ngIf="tokenService.getToken()" router-active [routerLink]=" ['./repository'] ">
              Repository
              </a>
            </li>
            <li>
              <a *ngIf="tokenService.getToken()" router-active [routerLink]=" ['./biotools'] ">
              bio.tools
              </a>
            </li>
          </ul>
        </li>

        <li>
          <a *ngIf="tokenService.getToken()" router-active [routerLink]=" ['./volumes'] ">
          Data Volumes
          </a>
        </li>

      </ul>
      <ul  class="nav navbar-nav navbar-right">

        <li *ngIf="!tokenService.getToken()">
          <a router-active [routerLink]=" ['./login'] ">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            Login
          </a>
        </li>

        <li *ngIf="tokenService.getToken()" dropdown (onToggle)="toggled($event)">
          <a href id="applications-dropdown" dropdownToggle>
            <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>
            <span *ngIf="cloudProviderParametersService.currentlySelectedCloudProviderParameters">
              {{ cloudProviderParametersService.currentlySelectedCloudProviderParameters.name }}
            </span>
            <span *ngIf="!cloudProviderParametersService.currentlySelectedCloudProviderParameters">
              SELECT PROVIDER
            </span>  
          </a>
          <ul class="dropdown-menu" dropdownMenu aria-labelledby="simple-dropdown">

            <li *ngFor="let cloudProviderParameters of profileComponent.cloudProviderParametersPresenters">
              <a (click)="profileComponent.setCurrentlySelectedCloudProviderParameters(cloudProviderParameters)">
                {{ cloudProviderParameters.name }}
              </a>
            </li>
          </ul>
        </li>

      </ul>
    </div>
    </cp-profile-component>
  </div>
</nav>

<div class="container-fluid">
    <div class="main">
      <router-outlet></router-outlet>
    </div>
</div>

