
<div class="row">
    <div class="col-md-9">
      <h3>Elixir Tools and Data Services</h3>
    </div>
    <div class="col-md-3">
      <pagination [boundaryLinks]="true" 
                  [totalItems]="totalItems" 
                  [(ngModel)]="currentPage" 
                  class="pagination-sm"
                  previousText="&lsaquo;" 
                  nextText="&rsaquo;" 
                  firstText="&laquo;" 
                  lastText="&raquo;"
                  (pageChanged)="pageChanged($event)">
      </pagination>
    </div>
</div>
<accordion [closeOthers]="true" *ngIf="applications">
  <accordion-group *ngFor="let application of applications">
    <div accordion-heading>
      <div class="row">
        <div class="col-md-12">
          {{ application.name }}
          <span class="pull-right">
            <span
              *ngIf="application.download.length>0 
              && application.download[0].type==='VM image' 
              && (application.download[0].note==='BioExcel_Embassy_VM' || application.download[0].note==='BioExcel_Embassy_NFS_Image' || application.download[0].note==='BioExcel_Embassy_ECP_Image')"
            class="glyphicon glyphicon-cloud"></span>
            <span
              *ngIf="application.toolType.length>0 && 
              (application.toolType.indexOf('Web application')>=0
              || application.toolType.indexOf('Web service')>=0
              || application.toolType.indexOf('Web API')>=0)"
            class="glyphicon glyphicon-globe"></span>
            <span
              *ngIf="application.toolType.length>0 && 
              (application.toolType.indexOf('Library')>=0 
              || application.toolType.indexOf('Command-line tool')>=0 
              || application.toolType.indexOf('Workbench')>=0 
              || application.toolType.indexOf('Suite')>=0
              || application.toolType.indexOf('Desktop application')>=0)"
            class="glyphicon glyphicon-modal-window"></span>
          </span>
       </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="lead">{{ application.description }}</p>
      </div>
    </div>
    <dl class="dl-horizontal">
      <dt>Homepage</dt>
      <dd><a href="{{application.homepage}}">{{ application.homepage }}</a></dd>
      <dt>Version</dt>
      <dd>{{ application.versionId }}</dd>
      <dt>Tool type</dt>
      <dd *ngFor="let toolType of application.toolType">{{ toolType }} </dd>
      <dt>Topics</dt>
      <dd *ngFor="let topic of application.topic">{{ topic.term }} </dd>
    </dl>
    
    <!--Deploy button-->
    <span *ngIf="application.download && application.download.length>0">
      <span *ngFor="let aDownload of application.download">
        <alert *ngIf="!tokenService.getToken() && aDownload.type==='VM image' && aDownload.note==='BioExcel_Embassy_VM'" >You need to log in to deploy this application</alert>
        --> <div *ngIf="tokenService.getToken() && aDownload.type==='VM image' && aDownload.note==='BioExcel_Embassy_VM'"
         class="btn-group" dropdown>
          <button
            type="button" 
            class="btn btn-primary btn-sm"
            (click)="selectedApplication=application; openDeployBiotoolModal()"
            [disabled]="!currentlySelectedConfiguration">
            Deploy VM to 
            <span *ngIf="currentlySelectedConfiguration">
                {{ currentlySelectedConfiguration.name }}
              </span>
              <span *ngIf="!currentlySelectedConfiguration">
                SELECT CLOUD
              </span>
          </button>
          <!--Select provider menu-->
          <button type="button" dropdownToggle (click)="false"
            class="btn btn-primary btn-sm dropdown-toggle dropdown-toggle-split">
            <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>
            <span class="sr-only">Split button!</span>
          </button>
            <!-- <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span> -->
          <ul class="dropdown-menu" *dropdownMenu aria-labelledby="simple-dropdown">
            <li *ngFor="let configuration of configurations | bioexcelConfiguration">
              <a (click)="setCurrentlySelectedConfiguration(configuration)">
                {{ configuration.name }}
              </a>
            </li>
            <li class="divider dropdown-divider"></li>
            <li *ngFor="let configuration of sharedConfigurations | bioexcelConfiguration">
              <a (click)="setCurrentlySelectedConfiguration(configuration)">
                {{ configuration.name }}
              </a>
            </li>
          </ul>
        </div>
      </span>
    </span>

    <!--Deploy button ECP image-->
    <span *ngIf="application.download && application.download.length>0">
      <span *ngFor="let aDownload of application.download">
        <alert *ngIf="!tokenService.getToken() && aDownload.type==='VM image' && aDownload.note.includes('BioExcel_Embassy_ECP_Image')" >You need to log in to deploy this application</alert>
        <div *ngIf="tokenService.getToken() && aDownload.type==='VM image' && aDownload.note.includes('BioExcel_Embassy_ECP_Image')"
         class="btn-group" dropdown>
          <button
            type="button" 
            class="btn btn-primary btn-sm"
            (click)="selectedApplicationForEcp=application; openDeployEcpImageModal()"
            [disabled]="!currentlySelectedConfigurationForEcp">
            Deploy BioExcel tool to 
            <span *ngIf="currentlySelectedConfigurationForEcp">
                {{ currentlySelectedConfigurationForEcp.name }}
              </span>
              <span *ngIf="!currentlySelectedConfigurationForEcp">
                SELECT CLOUD
              </span>
          </button>
          <!--Select provider menu-->
          <button type="button" dropdownToggle (click)="false"
            class="btn btn-primary btn-sm dropdown-toggle dropdown-toggle-split">
            <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>
            <span class="sr-only">Split button!</span>
          </button>
            <!-- <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span> -->
          <ul class="dropdown-menu" *dropdownMenu aria-labelledby="simple-dropdown">
            <li *ngFor="let configuration of configurations | bioexcelConfiguration">
              <a (click)="setCurrentlySelectedConfigurationForEcp(configuration)">
                {{ configuration.name }}
              </a>
            </li>
            <li class="divider dropdown-divider"></li>
            <li *ngFor="let configuration of sharedConfigurations | bioexcelConfiguration">
              <a (click)="setCurrentlySelectedConfigurationForEcp(configuration)">
                {{ configuration.name }}
              </a>
            </li>
          </ul>
        </div>
      </span>
    </span>

    <!--Deploy button NFS-->
    <span *ngIf="application.download && application.download.length>0">
      <span *ngFor="let aDownload of application.download">
        <alert *ngIf="!tokenService.getToken() && aDownload.type==='VM image' && aDownload.note.includes('BioExcel_Embassy_NFS_Image')" >You need to log in to deploy this application</alert>
        <div *ngIf="tokenService.getToken() && aDownload.type==='VM image' && aDownload.note.includes('BioExcel_Embassy_NFS_Image')"
         class="btn-group" dropdown>
          <button
            type="button" 
            class="btn btn-primary btn-sm"
            (click)="selectedApplicationForNfs=application; openDeployNfsClientModal()"
            [disabled]="!currentlySelectedConfigurationForNfs">
            Deploy NFS client to 
            <span *ngIf="currentlySelectedConfigurationForNfs">
                {{ currentlySelectedConfigurationForNfs.name }}
              </span>
              <span *ngIf="!currentlySelectedConfigurationForNfs">
                SELECT CLOUD
              </span>
          </button>
          <!--Select provider menu-->
          <button type="button" dropdownToggle (click)="false"
            class="btn btn-primary btn-sm dropdown-toggle dropdown-toggle-split">
            <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>
            <span class="sr-only">Split button!</span>
          </button>
            <!-- <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span> -->
          <ul class="dropdown-menu" *dropdownMenu aria-labelledby="simple-dropdown">
            <li *ngFor="let configuration of configurations | bioexcelConfiguration">
              <a (click)="setCurrentlySelectedConfigurationForNfs(configuration)">
                {{ configuration.name }}
              </a>
            </li>
            <li class="divider dropdown-divider"></li>
            <li *ngFor="let configuration of sharedConfigurations | bioexcelConfiguration">
              <a (click)="setCurrentlySelectedConfigurationForNfs(configuration)">
                {{ configuration.name }}
              </a>
            </li>
          </ul>
        </div>
      </span>
    </span>
    

  </accordion-group>
</accordion>
<div class="row">
    <div class="col-md-9">
      
    </div>
    <div class="col-md-3">
      <pagination [boundaryLinks]="true" 
                  [totalItems]="totalItems" 
                  [(ngModel)]="currentPage" 
                  class="pagination-sm"
                  previousText="&lsaquo;" 
                  nextText="&rsaquo;" 
                  firstText="&laquo;" 
                  lastText="&raquo;"
                  (pageChanged)="pageChanged($event)">
      </pagination>
    </div>
</div>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Do you want to confirm?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
  </div>
</ng-template>