
<div class="row">
    <div class="col-md-9">
      <h3>Elixir Tools and Data Services</h3>
    </div>
    <div class="col-md-3">
      <pagination [boundaryLinks]="true" 
                  [totalItems]="totalItems" 
                  [(ngModel)]="currentPage" 
                  class="pagination-sm"
                  previousText="&lsaquo;" 
                  nextText="&rsaquo;" 
                  firstText="&laquo;" 
                  lastText="&raquo;"
                  (pageChanged)="pageChanged($event)">
      </pagination>
    </div>
</div>
<accordion [closeOthers]="true" *ngIf="applications">
  <accordion-group *ngFor="let application of applications">
    <div accordion-heading>
      <div class="row">
        <div class="col-md-12">
          {{ application.name }}
          <span class="pull-right">
            <span
              *ngIf="application.download.length>0 
              && application.download[0].type==='VM image' 
              && application.download[0].comment==='BioExcel_Embassy_VM'"
            class="glyphicon glyphicon-cloud"></span>
            <span
              *ngIf="application.toolType.length>0 && 
              (application.toolType.indexOf('Web application')>=0
              || application.toolType.indexOf('Web service')>=0
              || application.toolType.indexOf('Web API')>=0)"
            class="glyphicon glyphicon-globe"></span>
            <span
              *ngIf="application.toolType.length>0 && 
              (application.toolType.indexOf('Library')>=0 
              || application.toolType.indexOf('Command-line tool')>=0 
              || application.toolType.indexOf('Workbench')>=0 
              || application.toolType.indexOf('Suite')>=0
              || application.toolType.indexOf('Desktop application')>=0)"
            class="glyphicon glyphicon-modal-window"></span>
          </span>
       </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="lead">{{ application.description }}</p>
      </div>
    </div>
    <dl class="dl-horizontal">
      <dt>Homepage</dt>
      <dd><a href="{{application.homepage}}">{{ application.homepage }}</a></dd>
      <dt>Version</dt>
      <dd>{{ application.versionId }}</dd>
      <dt>Tool type</dt>
      <dd *ngFor="let toolType of application.toolType">{{ toolType }} </dd>
      <dt>Topics</dt>
      <dd *ngFor="let topic of application.topic">{{ topic.term }} </dd>
    </dl>
    <!--Deploy button-->
    <span *ngIf="application.download && application.download.length>0">
      <span *ngFor="let aDownload of application.download">
        <div class="btn-group" dropdown>
          <button *ngIf="aDownload.type==='VM image' && aDownload.comment==='BioExcel_Embassy_VM'"
            type="button" 
            class="btn btn-primary btn-sm"
            (click)="deployBiotoolsApplication(application)"
            [disabled]="!cloudProviderParametersService.currentlySelectedCloudProviderParameters">
            Deploy to 
            <span *ngIf="cloudProviderParametersService.currentlySelectedCloudProviderParameters">
                {{ cloudProviderParametersService.currentlySelectedCloudProviderParameters.name }} <span class="caret"></span>
              </span>
              <span *ngIf="!cloudProviderParametersService.currentlySelectedCloudProviderParameters">
                SELECT PROVIDER
              </span>
          </button>
          <!--Select provider menu-->
          <button type="button" dropdownToggle class="btn btn-primary btn-sm dropdown-toggle dropdown-toggle-split">
            <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>
            <span class="sr-only">Split button!</span>
          </button>
            <!-- <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span> -->
          <ul class="dropdown-menu" *dropdownMenu aria-labelledby="simple-dropdown">
            <li *ngFor="let cloudProviderParameters of cloudProviderParameters">
              <a (click)="setCurrentlySelectedCloudProviderParameters(cloudProviderParameters)">
                {{ cloudProviderParameters.name }}
              </a>
            </li>
            <li class="divider dropdown-divider"></li>
            <li *ngFor="let cloudProviderParameters of sharedCloudProviderParameters">
              <a (click)="setCurrentlySelectedCloudProviderParameters(cloudProviderParameters)">
                {{ cloudProviderParameters.name }}
              </a>
            </li>
          </ul>
        </div>
      </span>
    </span>
    

  </accordion-group>
</accordion>
<div class="row">
    <div class="col-md-9">
      
    </div>
    <div class="col-md-3">
      <pagination [boundaryLinks]="true" 
                  [totalItems]="totalItems" 
                  [(ngModel)]="currentPage" 
                  class="pagination-sm"
                  previousText="&lsaquo;" 
                  nextText="&rsaquo;" 
                  firstText="&laquo;" 
                  lastText="&raquo;"
                  (pageChanged)="pageChanged($event)">
      </pagination>
    </div>
</div>