<h3>Elixir Tools and Data Services</h3>
<accordion [closeOthers]="true" *ngIf="applications">
  <accordion-group *ngFor="let application of applications" heading="{{ application.name }}">
    <h5>Homepage</h5>
    <a href="{{application.homepage}}">{{ application.homepage }}</a>
    <h5>Version</h5>
    <p>{{ application.versionId }}</p>
    <h5>Topics</h5>
    <p *ngFor="let topic of application.topic">{{ topic.term }} </p>
    <h5>Resource type</h5>
    <p *ngFor="let resourceType of application.resourceType">{{ resourceType }} </p>
    <h5>Description</h5>
    <p>{{ application.description }}</p>
    <!--Deploy button-->
    <span *ngIf="application.download && application.download.length>0">
      <span *ngFor="let aDownload of application.download">
      <button *ngIf="aDownload.type==='VM image' && aDownload.comment==='BioExcel_Embassy_VM'"
        type="button" 
        class="btn btn-primary btn-sm"
        [disabled]="!cloudProviderParametersService.currentlySelectedCloudProviderParameters">
        Deploy
      </button>
      </span>
    </span>
  </accordion-group>
</accordion>