<div class="col-md-9 col-md-offset-1">
<div class="row">
  <div class="col-md-8">
    <h1>BioExcel Cloud Portal</h1>
    <h4>Centre of Excellence for Computational Biomolecular Research</h4>
    <p>The BioExcel Cloud Portal has been developed by the
      <a href="https://www.ebi.ac.uk/about/people/sarah-butcher">Software Development and Operations
      </a> team at EMBL-EBI	to simplify the experience for researchers when running their workloads
      across different cloud providers.
    </p>
    <p>
        The portal enables cloud providers and research teams to package and share their BioExcel
    applications and environments with their respective users. That way, these key applications
    can be deployed on demand onto the cloud providers the user is able to access.
    </p>
  </div>
  <div class="col-md-4">
    <img style="height: 16em; margin-top: 3em;" [src]="ebiLogoOnly">
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <img style="height: 14em;" [src]="elixirLogo">
  </div>
  <div class="col-md-8">
    <h3>How to access to the BioExcel Cloud Portal?</h3>
    <p>The BioExcel Cloud Portal is offered as a service to ELIXIR and other communities. Users
      will need a freely available <a href="https://www.elixir-europe.org/services/compute/aai">ELIXIR identity</a>
      to access the portal.
    </p>
    <p>
      Obtain your ELIXIR identity <a href="https://www.elixir-europe.org/register">here</a>.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <h3>How to use the BioExcel Cloud Portal?</h3>
    <p>
      Access to the portal does not provide access to any cloud providers but is compatible with the
      work within the <a href="https://www.elixir-europe.org/services/compute">ELIXIR Compute Platform</a>.
      Users will need to provide their own credentials to access
      cloud providers such as OpenStack, Google Compute Engine or Amazon Web Services.
    </p>
    <p>
      Research groups can use the portal to share appliances and cloud credentials within their teams
      through the portal if they desire.
    </p>
  </div>
  <div class="col-md-4">
    <img style="height: 10em; margin-top: 2em;" [src]="cloudsLogo">
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Further questions?</h3>
    <p>
      Further information on the design and documentation on how to use and contribute appliances to
      the portal is available. Any questions around the BioExcel Cloud Portal and its use can be sent
      to <em>ebi[at]ebi.ac.uk</em>.
    </p>
  </div>
  <div class="col-md-6">
    <h3>Acknowledgements</h3>
    <p>
      The portal has been developed under funding provided by the following projects and
      organisations:</p>
    <ul>
      <li><p>EC funded <a href="http://bioexcel.eu/">BioExcel</a> project.</p></li>
      <li><p><a href="http://www.ebi.ac.uk/">EMBL-EBI</a> (European Molecular Biology
      Laboratory - European Bioinformatics Institute).</p></li>
      <li><p>Cancer Research UK funding to develop infrastructure to support
        the PanCancer collaboration.</p></li>
      <li><p>EC funded <a href="http://phenomenal-h2020.eu/home/">PhenomMeNal</a> project.</p></li>
    </ul>
  </div>
</div>
</div>
