<cp-volumes-component #volumesComponent>
	<!--Add setup button-->
  <button class="add-app-button btn btn-primary btn-sm" (click)="volumesComponent.addVolumeSetupFormShowing=!addVolumeSetupFormShowing">
    <span class="glyphicon glyphicon-plus"></span>
  </button>

	
  <div *ngIf="volumesComponent.addVolumeSetupFormShowing">
    <form [formGroup]="volumesComponent.volumeSetupForm" autocomplete="off">
      <h2>Add volume setup</h2>
      <label for="inputUri" class="sr-only">URI</label>
      <input class="form-control" id="inputUri" 
        type="url" placeholder="Repository URI" [formControl]="volumesComponent.volumeSetupForm.controls['repoUri']" autofocus>
      <div *ngIf="!volumesComponent.volumeSetupForm.controls['repoUri'].valid" class="ui error message">URI is invalid</div>
      <div *ngIf="volumesComponent.volumeSetupForm.controls['repoUri'].hasError('required')" class="ui error message">URI is required</div>
      <button type="button" class="btn btn-lg btn-primary btn-block"
      (click)="volumesComponent.addVolumeSetup(volumesComponent.volumeSetupForm.value); volumesComponent.addVolumeSetupFormShowing = false">Add</button>
    </form>
  </div>
				
  <accordion [closeOthers]="oneAtATime" *ngIf="volumesComponent.volumeDeployers">
				<!--List setups-->
    <div *ngIf="volumesComponent.volumeDeployers.length==0">
      No volume setups registered yet
    </div>

    <accordion-group *ngFor="let volumeDeployer of volumesComponent.volumeDeployers" heading="{{ volumeDeployer.name }}">
		  <p><a href="{{ volumeDeployer.repoUri }}">{{ volumeDeployer.repoUri }}</a><p>
      <span *ngIf="volumeDeployer.deploying || volumeDeployer.removing">Working...</span>
      <br/>
      <div *ngIf="!volumeDeployer.deploying && !volumeDeployer.destroying">
        <button type="button" class="btn btn-primary btn-sm"
        (click)="volumesComponent.deployVolume(volumeDeployer)">
            Deploy
          </button>
        <button type="button" class="btn btn-primary btn-sm"
        (click)="volumesComponent.removeVolumeSetup(volumeDeployer)">Remove</button>
      </div>
    </accordion-group>
  </accordion>

</cp-volumes-component>
