<cp-deployments-component #deploymentsComponent>
    <alert type="info" *ngIf="deploymentsComponent.deploymentInstances.length==0">
      No application deployments for user {{ deploymentsComponent.credentialService.getGivenName() }} yet
    </alert>

    <accordion [closeOthers]="true" *ngIf="deploymentsComponent.deploymentInstances">
      <accordion-group *ngFor="let deploymentInstance of deploymentsComponent.deploymentInstances">
        <div accordion-heading>
          <span *ngIf="deploymentInstance.status == 'STARTING'" class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
          <span *ngIf="deploymentInstance.status == 'DESTROYING'" class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>
          <span *ngIf="deploymentInstance.status == 'RUNNING'" class="glyphicon glyphicon-cloud" aria-hidden="true"></span>
          <span *ngIf="deploymentInstance.status == 'DESTROYED'" class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
          <span *ngIf="deploymentInstance.status == 'STARTING_FAILED' || deploymentInstance.status == 'DESTROYING_FAILED'" 
            class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            {{ deploymentInstance.applicationName }}
            <span *ngIf="deploymentInstance.applicationName=='BioExcel launcher' && deploymentInstance.assignedInputs[0]">
              for {{ deploymentInstance.assignedInputs[0].assignedValue }}
            </span>
            <small>{{ deploymentInstance.reference }}</small>
        </div>
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>Reference</dt>
              <dd>{{ deploymentInstance.reference }}</dd>
              <dt>Started</dt>
              <dd>{{ fromTimeStampToDateAndTime(deploymentInstance.startedTime) }}</dd>
              <dt>Configuration</dt>
              <dd>{{ deploymentInstance.configurationName }} ({{ deploymentInstance.cloudProviderParametersCopy.cloudProvider }})</dd>
              <dt>Status</dt>
              <dd><span class="badge">{{ deploymentInstance.status }}</span></dd>
            </dl>
          </div>
        </div>
        <!--<div *ngIf="deploymentInstance.accessIp">
          <h5>Access IP</h5>
          <p>{{ deploymentInstance.accessIp }}</p>
        </div>-->
        <!--List generated outputs-->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">Outputs</h4>
          </div>
          <div class="list-group">
            <p class="list-group-item" *ngIf="deploymentInstance.generatedOutputs.length==0">No generated outputs for this deployment</p>
            <div class="list-group-item" *ngFor="let generatedOutput of deploymentInstance.generatedOutputs">
              <h5>{{ generatedOutput.outputName }}</h5>
              <code>{{ generatedOutput.generatedValue }}</code>
            </div>
          </div>
        </div>
        <!--List of consumed resources-->
        <div *ngIf="!deploymentInstance.deployedTime" class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">Cloud resources</h4>
            </div>
            <div class="list-group">
              <p *ngIf="!deploymentInstance.failedTime" class="list-group-item">Waiting for resource usage data...</p>
              <p *ngIf="deploymentInstance.failedTime" class="list-group-item">This deployment failed</p>
            </div>
        </div>
        <div *ngIf="deploymentInstance.deployedTime" class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">Cloud resources</h4>
            </div>
            <div class="list-group">
              <div class="list-group-item">
                <h5>Total running time</h5>
                <code>{{ getTimeToDisplay(deploymentInstance.totalRunningTime) }}</code>
              </div>
              <div class="list-group-item">
                <h5>Instances</h5>
                <code>{{ deploymentInstance.instanceCount }}</code>
              </div>
              <div class="list-group-item">
                <h5>Total VCPUs</h5>
                <code>{{ deploymentInstance.totalVcpus }}</code>
              </div>
              <div class="list-group-item">
                <h5>Total RAM</h5>
                <code>{{ deploymentInstance.totalRamGb }} GB</code>
              </div>
              <div class="list-group-item">
                <h5>Total disk</h5>
                <code>{{ deploymentInstance.totalDiskGb }} GB</code>
              </div>
            </div>
          </div>
        <!--List assigned inputs-->
        <div *ngIf="deploymentInstance.assignedInputs && deploymentInstance.assignedInputs.length>0" class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">Inputs</h4>
          </div>
          <div class="list-group">
            <div class="list-group-item" *ngFor="let assignedInput of deploymentInstance.assignedInputs">
              <h5>{{ assignedInput.inputName }}</h5>
              <code>{{ assignedInput.assignedValue }}</code>
            </div>
          </div>
        </div>
        <!--List attached volumes-->
        <div *ngIf="deploymentInstance.attachedVolumes && deploymentInstance.attachedVolumes.length>0" class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">Volumes</h4>
            </div>
            <div class="list-group">
              <div class="list-group-item" *ngFor="let attachedVolume of deploymentInstance.attachedVolumes">
                <h5>{{ attachedVolume.name }}</h5>
                <code>{{ attachedVolume.volumeInstanceReference }}</code>
              </div>
            </div>
          </div>
        <br/>
        <div class="row">  
          <div class="col-md-12">
            <alert type ="info" *ngIf="deploymentInstance.status == 'DESTROYING'">Destroying...</alert>
            <alert type ="info" *ngIf="deploymentInstance.status == 'STARTING'">Deploying...</alert>
            <!--<alert type="error" *ngIf="deploymentInstance.status == 'STARTING_FAILED'">This deployment failed and there is nor provider data</alert>-->
            <button type="button" class="btn btn-primary btn-sm"
            [disabled]="deploymentInstance.status != 'RUNNING' && deploymentInstance.status != 'STARTING_FAILED'"
              (click)="deploymentsComponent.destroyDeployment(deploymentInstance)">
              Destroy
            </button>
            <button type="button" class="btn btn-warning btn-sm pull-right" 
                  [disabled]="deploymentInstance.status != 'DESTROYED' && deploymentInstance.status != 'DESTROYING_FAILED'"
                  (click)="deploymentsComponent.deleteDeployment(deploymentInstance)">
                    <span class="glyphicon glyphicon-trash"></span>
            </button>
          </div>
        </div>
      </accordion-group>
    </accordion>
</cp-deployments-component>