<cp-profile-component #profileComponent>
  <div *ngIf="profileComponent.account">
    <h2>{{ profileComponent.account.userName }}</h2>
    <h4>{{ profileComponent.account.email }}</h4>
  </div>
  <tabset>
    <tab heading="Cloud Providers">
      <template tabHeading>
        <i class="glyphicon glyphicon-cloud"></i>
      </template>
      <button class="add-app-button btn btn-primary btn-sm" 
        (click)="profileComponent.addCloudProviderParametersFormShowing=!profileComponent.addCloudProviderParametersFormShowing">
        <span class="glyphicon glyphicon-plus"></span>
      </button>

      <div *ngIf="profileComponent.addCloudProviderParametersFormShowing">
        <h3>Add cloud provider</h3>
        <form [formGroup]="profileComponent.cloudProviderParametersForm" autocomplete="off">
          <!--Name-->
          <div class="form-group">
            <label for="name" class="sr-only">Name</label>
            <input class="form-control" id="name" 
              type="text" placeholder="Credentials name" [formControl]="profileComponent.cloudProviderParametersForm.controls['name']" autofocus>
          </div>
          <!--Provider-->
          <div class="form-group">
            <label for="cloudProvider" class="sr-only">Cloud Provider</label>
            <input class="form-control" id="cloudProvider" 
              type="text" placeholder="Cloud provider" [formControl]="profileComponent.cloudProviderParametersForm.controls['cloudProvider']" autofocus>
          </div>
          <!--Fields-->
          <h4>Parameters <button type="button" class="btn btn-default btn-sm" (click)="profileComponent.addNewCloudProviderParametersFormField()">
              <span class="glyphicon glyphicon-plus"></span> 
          </button></h4>
          <div *ngFor="let fieldFormGroup of profileComponent.cloudProviderParametersForm.controls['fields'].controls">
            <form class="form-inline" [formGroup]="fieldFormGroup">
              <div class="form-group">
                <input class="form-control"
                  type="text" 
                  placeholder="Enter parameter key" 
                  [formControl]="fieldFormGroup.controls['key']" 
                  autofocus>
              </div>
              <div class="form-group">
                <input class="form-control" 
                  type="text" 
                  placeholder="Enter parameter value" 
                  [formControl]="fieldFormGroup.controls['value']" 
                  autofocus>
              </div>
            </form>
            <br/>
          </div>
          <button type="submit" class="btn btn-default"
            [disabled]="profileComponent.cloudProviderParametersForm.controls['name'].hasError('required') || profileComponent.cloudProviderParametersForm.controls['cloudProvider'].hasError('required')"
            (click)="profileComponent.addCloudProviderParameters(profileComponent.cloudProviderParametersForm.value); profileComponent.addCloudProviderParametersFormShowing = false">Add</button>
        </form>
        <br/>
      </div>

      <!--Credentials-->
      <accordion [closeOthers]="true" *ngIf="profileComponent.cloudProviderParametersPresenters">
        <div *ngIf="profileComponent.cloudProviderParametersPresenters.length==0 && profileComponent.sharedCloudProviderParametersPresenters.length==0">
          No cloud providers available yet
        </div>
        <!--Owned credentials-->
        <accordion-group *ngFor="let cloudProviderParameters of profileComponent.cloudProviderParametersPresenters" 
          [isOpen]="openOne==cloudProviderParameters.name"
          (click)="openOne=cloudProviderParameters.name"
          heading="{{ cloudProviderParameters.name }}">
            <div class="row">
              <div class="col-md-6">
                <h4>Provider</h4>
                <p>{{ cloudProviderParameters.cloudProvider }}</p>
                <h4>Fields</h4>
                <div *ngFor="let cloudProviderParametersField of cloudProviderParameters.fields">
                  <h5>{{ cloudProviderParametersField.key }}</h5>
                  <p>{{ cloudProviderParametersField.value }}</p>
                </div>
              </div>
              <div class="col-md-6">
                <h5>Shared with <button
                    class="btn btn-default btn-xs"
                    (click)="shareCloudProviderParametersDialogShowing=!shareCloudProviderParametersDialogShowing">
                    <span class="glyphicon glyphicon-plus"></span>
                </button></h5>
                <span *ngIf="shareCloudProviderParametersDialogShowing">
                  <form class="form-inline">
                    <div class="form-group">
                      <input placeholder="Share with (required)" [(ngModel)]="shareWith" name="shareWith" autofocus>
                    </div>
                    <button 
                    type="submit" class="btn btn-default btn-sm"
                    [disabled]="!shareWith || shareWith.length==0"
                    (click)="profileComponent.shareCloudProviderParameters(cloudProviderParameters, shareWith); shareCloudProviderParametersDialogShowing = false">
                    Share</button>
                  </form>
                </span>
                <span *ngIf="!cloudProviderParameters.isShared && cloudProviderParameters.sharedWithAccountEmails.length>0">
                  <p *ngFor="let accountEmail of cloudProviderParameters.sharedWithAccountEmails">
                    <button
                    class="btn btn-default btn-xs"
                    (click)="profileComponent.unshareCloudProviderParameters(cloudProviderParameters, accountEmail)">
                    <span class="glyphicon glyphicon-remove"></span>
                  </button> {{ accountEmail }}</p>
                </span>

                <span *ngIf="cloudProviderParameters.sharedWithTeamNames && cloudProviderParameters.sharedWithTeamNames.length>0">
                  <p *ngFor="let teamName of cloudProviderParameters.sharedWithTeamNames">
                    <button *ngIf="!cloudProviderParameters.isShared"
                    class="btn btn-default btn-xs"
                    (click)="profileComponent.unshareCloudProviderParameters(cloudProviderParameters, teamName)">
                      <span class="glyphicon glyphicon-remove"></span> 
                    </button> {{ teamName }}
                  </p>
                </span>
              </div>

            </div>

            <div class="row">
              <div class="col-md-12">
                <button type="button" class="btn btn-warning btn-sm"
                (click)="profileComponent.removeCloudProviderParameters(cloudProviderParameters)">Remove</button>
              </div>
            </div>

        </accordion-group>

        <!--Shared credentials-->
        <accordion-group *ngFor="let cloudProviderParameters of profileComponent.sharedCloudProviderParametersPresenters" 
          [isOpen]="openOne==cloudProviderParameters.name+'-shared'"
          (click)="openOne=cloudProviderParameters.name+'-shared'"
          heading="{{ cloudProviderParameters.name }} SHARED">
          <div class="row">
            <div class="col-md-6">
              <h4>Provider</h4>
              <p>{{ cloudProviderParameters.cloudProvider }}</p>
              <h4>Fields</h4>
              <div *ngFor="let cloudProviderParametersField of cloudProviderParameters.fields">
                <h5>{{ cloudProviderParametersField.key }}</h5>
                <p>{{ cloudProviderParametersField.value }}</p>
              </div>
            </div>
            <div class="col-md-6">
              <h5>Owned by</h5>
              <p>{{ cloudProviderParameters.accountEmail }}</p>
              <span *ngIf="cloudProviderParameters.sharedWithTeamNames && cloudProviderParameters.sharedWithTeamNames.length>0">
                <h5>Included in teams</h5>
                <p *ngFor="let teamName of cloudProviderParameters.sharedWithTeamNames">
                  {{ teamName }}
                </p>
              </span>
            </div>
          </div>
        </accordion-group>

      </accordion>
    </tab>
    <tab heading="Teams">
      <template tabHeading>
        <i class="glyphicon glyphicon-user"></i>
      </template>

      <button class="add-app-button btn btn-primary btn-sm" (click)="profileComponent.addTeamFormShowing=!profileComponent.addTeamFormShowing">
        <span class="glyphicon glyphicon-plus"></span>
      </button>

      <div *ngIf="profileComponent.addTeamFormShowing">
        <form [formGroup]="profileComponent.teamForm" autocomplete="off">
          <h3>Create new team</h3>
          <!--Name-->
          <div class="form-group">
            <label for="name" class="sr-only">Name</label>
            <input class="form-control" id="name" 
              type="text" placeholder="Team name" [formControl]="profileComponent.teamForm.controls['name']" autofocus>
          </div>
          <button type="submit" class="btn btn-default"
          [disabled]="profileComponent.teamForm.controls['name'].hasError('required')"
          (click)="profileComponent.addTeam(profileComponent.teamForm.value); profileComponent.addTeamFormShowing = false">Add</button>
        </form>
        <alert type="warning" *ngIf="profileComponent.teamForm.controls['name'].length>0 && !profileComponent.teamForm.controls['name'].valid">Name is invalid</alert>
        <br/>
      </div>

      <accordion [closeOthers]="true" *ngIf="profileComponent.teamPresenters">
        <div *ngIf="profileComponent.teamPresenters.length==0">
          No teams available yet
        </div>
        <accordion-group *ngFor="let teamPresenter of profileComponent.teamPresenters" heading="{{ teamPresenter.name }}">
          <span accordion-heading>
            <span *ngIf="teamPresenter.isOwner"> OWNER</span>
          </span>
          <div>
            <h5>Owner</h5>
            <p>{{ teamPresenter.ownerAccountEmail }}</p>
            <h5>Members</h5>
            <p *ngFor="let memberAccountEmail of teamPresenter.memberAccountEmals">{{ memberAccountEmail }}</p>
            <form #addTeamMemberForm class="form-inline">
              <div class="form-group">
                <label for="email" class="sr-only">Name</label>
                <input class="form-control" name="memberAccountEmail" [(ngModel)]="memberAccountEmail" 
                  type="email" placeholder="Member email" autofocus>
              </div>
              <button type="submit" class="btn btn-default btn-sm"
              [disabled]="!memberAccountEmail"
               (click)="profileComponent.addMemberToTeam(teamPresenter, memberAccountEmail)">Add</button>
            </form>
            <br/>
            <button type="button" class="btn btn-warning"
             *ngIf="teamPresenter.isOwner"
            (click)="profileComponent.removeTeam(teamPresenter)">Delete team</button>
          </div>
        </accordion-group>
        
      </accordion>

    </tab>
  </tabset>
</cp-profile-component>