<cp-profile-component #profileComponent>
  <div *ngIf="profileComponent.account">
    <h2>{{ profileComponent.account.givenName }}</h2>
    <h4>{{ profileComponent.account.email }}</h4>
  </div>
  <tabset>
    <tab heading="Configurations">
      <template tabHeading>
        <i class="glyphicon glyphicon-cloud"></i>
      </template>
      <button type="button"
        class="add-app-button btn btn-primary btn-sm"
        (click)="openAddConfigurationModal()">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
      <alert type="info"
        *ngIf="profileComponent.configurationPresenters && profileComponent.configurationPresenters.length==0
              && profileComponent.sharedconfigurationPresenters && profileComponent.sharedconfigurationPresenters.length==0">
          No cloud providers available yet
      </alert>
      <accordion [closeOthers]="true">
        <!--Owned configs-->
        <span *ngIf="profileComponent.configurationPresenters">
        <accordion-group *ngFor="let configuration of profileComponent.configurationPresenters"
          [isOpen]="openOne==configuration.name"
          (click)="openOne=configuration.name"
          heading="{{ configuration.name }}">
            <div class="row">
              <div class="col-md-8">
                <h4>Cloud provider</h4>
                <p>{{ configuration.cloudProviderParametersName }}</p>
              </div>
              <div class="col-md-4">
                <button type="button" class="btn btn-warning btn-sm pull-right"
                  (click)="profileComponent.removeConfiguration(configuration)">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8">
                <h4>Deployment parametersr</h4>
                <p>{{ configuration.deploymentParametersName }}</p>
              </div>

            </div>

            <div class="row">
              <div class="col-md-4">
                <h5>Shared with <button
                    class="btn btn-default btn-xs"
                    (click)="shareConfigurationDialogShowing=!shareConfigurationDialogShowing">
                    <span class="glyphicon glyphicon-plus"></span>
                </button></h5>
                <span *ngIf="shareConfigurationDialogShowing">
                  <form class="form-inline">
                    <div class="form-group">
                      <input placeholder="Share with (required)" [(ngModel)]="shareWith" name="shareWith" autofocus>
                    </div>
                    <button
                    type="submit" class="btn btn-default btn-sm"
                    [disabled]="!shareWith || shareWith.length==0"
                    (click)="profileComponent.shareConfiguration(configuration, shareWith); shareConfigurationDialogShowing = false">
                    Share</button>
                  </form>
                </span>

                <span *ngIf="configuration.sharedWithTeamNames && configuration.sharedWithTeamNames.length>0">
                  <p *ngFor="let teamName of configuration.sharedWithTeamNames">
                    <button *ngIf="!configuration.isShared"
                    class="btn btn-default btn-xs"
                    (click)="profileComponent.unshareConfiguration(configuration, teamName)">
                      <span class="glyphicon glyphicon-remove"></span>
                    </button> {{ teamName }}
                  </p>
                </span>
              </div>
            </div>
        </accordion-group>
        </span>

        <!--Shared configs-->
        <span *ngIf="profileComponent.sharedConfigurationPresenters">
        <accordion-group *ngFor="let configuration of profileComponent.sharedConfigurationPresenters"
          [isOpen]="openOne==configuration.name+'-shared'"
          (click)="openOne=configuration.name+'-shared'"
          heading="{{ configuration.name }} SHARED">
          <div class="row">
            <div class="col-md-6">
              <h4>Cloud provider</h4>
              <p>{{ configuration.cloudProviderParametersName }}</p>
            </div>
            <div class="col-md-6">
              <h5>Owned by</h5>
              <p>{{ configuration.accountUsername }}</p>
              <span *ngIf="configuration.sharedWithTeamNames && configuration.sharedWithTeamNames.length>0">
                <h5>Included in teams</h5>
                <p *ngFor="let teamName of configuration.sharedWithTeamNames">
                  {{ teamName }}
                </p>
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <h4>Deployment parameters</h4>
              <p>{{ configuration.deploymentParametersName }}</p>
            </div>
          </div>
        </accordion-group>
        </span>
      </accordion>
    </tab>

    <tab heading="Cloud Providers">
      <template tabHeading>
        <i class="glyphicon glyphicon-cloud"></i>
      </template>
      <button type="button" class="add-app-button btn btn-primary btn-sm"
      (click)="openAddCloudProviderModal()"><span class="glyphicon glyphicon-plus"></span></button>

      <!--Credentials-->
      <alert type="info"
        *ngIf="profileComponent.cloudProviderParametersPresenters && profileComponent.cloudProviderParametersPresenters.length==0
              && profileComponent.sharedCloudProviderParametersPresenters && profileComponent.sharedCloudProviderParametersPresenters.length==0">
          No cloud providers available yet
      </alert>
      <accordion [closeOthers]="true">
        <!--Owned credentials-->
        <span *ngIf="profileComponent.cloudProviderParametersPresenters">
        <accordion-group *ngFor="let cloudProviderParameters of profileComponent.cloudProviderParametersPresenters"
          [isOpen]="openOne==cloudProviderParameters.name"
          (click)="openOne=cloudProviderParameters.name"
          heading="{{ cloudProviderParameters.name }}">
            <div class="row">
              <div class="col-md-8">
                <h4>Provider</h4>
                <p>{{ cloudProviderParameters.cloudProvider }}</p>
              </div>
              <div class="col-md-4">
                <button type="button" class="btn btn-warning btn-sm pull-right"
                  (click)="profileComponent.removeCloudProviderParameters(cloudProviderParameters)">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
              </div>
            </div>

            <div class="row">
              <div class="col-md-8">
                <h4>Fields</h4>
                <div *ngFor="let cloudProviderParametersField of cloudProviderParameters.fields">
                  <h5>{{ cloudProviderParametersField.key }}</h5>
                  <p>{{ cloudProviderParametersField.value }}</p>
                </div>
              </div>
              <div class="col-md-4">
                <h5>Shared with <button
                    class="btn btn-default btn-xs"
                    (click)="shareCloudProviderParametersDialogShowing=!shareCloudProviderParametersDialogShowing">
                    <span class="glyphicon glyphicon-plus"></span>
                </button></h5>
                <span *ngIf="shareCloudProviderParametersDialogShowing">
                  <form class="form-inline">
                    <div class="form-group">
                      <input placeholder="Share with (required)" [(ngModel)]="shareWith" name="shareWith" autofocus>
                    </div>
                    <button
                    type="submit" class="btn btn-default btn-sm"
                    [disabled]="!shareWith || shareWith.length==0"
                    (click)="profileComponent.shareCloudProviderParameters(cloudProviderParameters, shareWith); shareCloudProviderParametersDialogShowing = false">
                    Share</button>
                  </form>
                </span>
                <span *ngIf="!cloudProviderParameters.isShared && cloudProviderParameters.sharedWithAccountEmails && cloudProviderParameters.sharedWithAccountEmails.length>0">
                  <p *ngFor="let accountEmail of cloudProviderParameters.sharedWithAccountEmails">
                    <button
                    class="btn btn-default btn-xs"
                    (click)="profileComponent.unshareCloudProviderParameters(cloudProviderParameters, accountEmail)">
                    <span class="glyphicon glyphicon-remove"></span>
                  </button> {{ accountEmail }}</p>
                </span>

                <span *ngIf="cloudProviderParameters.sharedWithTeamNames && cloudProviderParameters.sharedWithTeamNames.length>0">
                  <p *ngFor="let teamName of cloudProviderParameters.sharedWithTeamNames">
                    <button *ngIf="!cloudProviderParameters.isShared"
                    class="btn btn-default btn-xs"
                    (click)="profileComponent.unshareCloudProviderParameters(cloudProviderParameters, teamName)">
                      <span class="glyphicon glyphicon-remove"></span>
                    </button> {{ teamName }}
                  </p>
                </span>
              </div>

            </div>

        </accordion-group>
        </span>

        <!--Shared credentials-->
        <span *ngIf="profileComponent.sharedCloudProviderParametersPresenters">
        <accordion-group *ngFor="let cloudProviderParameters of profileComponent.sharedCloudProviderParametersPresenters"
          [isOpen]="openOne==cloudProviderParameters.name+'-shared'"
          (click)="openOne=cloudProviderParameters.name+'-shared'"
          heading="{{ cloudProviderParameters.name }} SHARED">
          <div class="row">
            <div class="col-md-6">
              <h4>Provider</h4>
              <p>{{ cloudProviderParameters.cloudProvider }}</p>
              <h4>Fields</h4>
              <div *ngFor="let cloudProviderParametersField of cloudProviderParameters.fields">
                <h5>{{ cloudProviderParametersField.key }}</h5>
                <p>{{ cloudProviderParametersField.value }}</p>
              </div>
            </div>
            <div class="col-md-6">
              <h5>Owned by</h5>
              <p>{{ cloudProviderParameters.accountEmail }}</p>
              <span *ngIf="cloudProviderParameters.sharedWithTeamNames && cloudProviderParameters.sharedWithTeamNames.length>0">
                <h5>Included in teams</h5>
                <p *ngFor="let teamName of cloudProviderParameters.sharedWithTeamNames">
                  {{ teamName }}
                </p>
              </span>
            </div>
          </div>
        </accordion-group>
        </span>
      </accordion>
    </tab>
    <tab heading="Teams">
      <template tabHeading>
        <i class="glyphicon glyphicon-user"></i>
      </template>

      <button class="add-app-button btn btn-primary btn-sm"
        (click)="openAddTeamModal()">
        <span class="glyphicon glyphicon-plus"></span>
      </button>

      <accordion [closeOthers]="true" *ngIf="profileComponent.teamPresenters">
        <alert type="info" *ngIf="profileComponent.teamPresenters.length==0">
          No teams available yet
        </alert>
        <accordion-group *ngFor="let teamPresenter of profileComponent.teamPresenters" heading="{{ teamPresenter.name }}">
          <span accordion-heading>
            <span *ngIf="teamPresenter.isOwner"> OWNER</span>
            <span *ngIf="!teamPresenter.isOwner && teamPresenter.isManager"> MANAGER</span>
          </span>
          <div>
            <h5>Owner</h5>
            <p>{{ teamPresenter.ownerAccountEmail }}</p>
            <h5>Configurations</h5>
            <p *ngIf="!teamPresenter.configurationNames || teamPresenter.configurationNames==0">No configurations in <em>{{ teamPresenter.name }}</em></p>
            <p *ngFor="let configurationName of teamPresenter.configurationNames">{{ configurationName }}</p>
            <h5>Members</h5>
            <p *ngFor="let memberAccountEmail of teamPresenter.memberAccountEmails">{{ memberAccountEmail }}</p>
            <form #addTeamMemberForm class="form-inline">
              <div class="form-group">
                <label for="email" class="sr-only">Name</label>
                <input class="form-control" name="memberAccountEmail" [(ngModel)]="memberAccountEmail"
                  type="email" placeholder="Member email" autofocus>
              </div>
              <button type="submit" class="btn btn-default btn-sm"
              [disabled]="!memberAccountEmail"
               (click)="profileComponent.addMemberToTeam(teamPresenter, memberAccountEmail)">Add</button>
            </form>
            <br/>
            <button type="button" class="btn btn-warning"
             *ngIf="teamPresenter.isOwner"
            (click)="profileComponent.removeTeam(teamPresenter)">Delete team</button>
          </div>
        </accordion-group>
         <div>
           <br>
           <h4>Join Team</h4>
           <form #joinTeamForm class="form-inline">
             <div class="form-group">
               <input class="form-control" name="teamName" [(ngModel)]="profileComponent.joinTeamName"
                      type="text" placeholder="Team name"  required>
             </div>
           </form>
           <br>
           <alert type="info" *ngIf="profileComponent.message">
             {{ profileComponent.message }}
           </alert>
           <br>
           <button type="button" class="btn btn-warning"
                   (click)="profileComponent.requestAddMember(profileComponent.joinTeamName)">Request</button>
           <br>

         </div>
      </accordion>

    </tab>

  </tabset>
</cp-profile-component>
